<?xml version="1.0" encoding="utf-8"?>
<analyticsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.2.5900.0">
	<Sites>
		<add SiteName="TimerTheme" SiteId="cdffcfd3-dcda-46d9-be53-fa513ae9f4a4" />
	</Sites>
</analyticsConfig>