<?xml version="1.0" encoding="utf-8"?>
<dynamicModulesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6602.0">
	<contentViewControls>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.Artwork.WorkBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="workBackendList" configFile="DynamicModulesConfig.Artwork.Work-2098704638_workBckndLst.config" />
				<config:lazy key="workBackendInsertView" configFile="DynamicModulesConfig.Artwork.Work-2098704638_BckndInsrtVw.config" />
				<config:lazy key="workBackendPreviewView" configFile="DynamicModulesConfig.Artwork.Work-2098704638_kBckndPrvwVw.config" />
				<config:lazy key="workBackendEditView" configFile="DynamicModulesConfig.Artwork.Work-2098704638_rkBckndEdtVw.config" />
				<config:lazy key="workBackendDuplicateView" configFile="DynamicModulesConfig.Artwork.Work-2098704638_BckndDplctVw.config" />
				<config:lazy key="workBackendVersionPreview" configFile="DynamicModulesConfig.Artwork.Work-2098704638_ckndVrsnPrvw.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.Team.teamMemberBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="teammemberBackendList" configFile="DynamicModulesConfig.Team.tmMember-869878578_mmbrBckndLst.config" />
				<config:lazy key="teammemberBackendInsertView" configFile="DynamicModulesConfig.Team.tmMember-869878578_BckndInsrtVw.config" />
				<config:lazy key="teammemberBackendPreviewView" configFile="DynamicModulesConfig.Team.tmMember-869878578_rBckndPrvwVw.config" />
				<config:lazy key="teammemberBackendEditView" configFile="DynamicModulesConfig.Team.tmMember-869878578_brBckndEdtVw.config" />
				<config:lazy key="teammemberBackendDuplicateView" configFile="DynamicModulesConfig.Team.tmMember-869878578_BckndDplctVw.config" />
				<config:lazy key="teammemberBackendVersionPreview" configFile="DynamicModulesConfig.Team.tmMember-869878578_ckndVrsnPrvw.config" />
			</views>
		</contentViewControl>
	</contentViewControls>
</dynamicModulesConfig>