<?xml version="1.0" encoding="utf-8"?>
<view xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6602.0" viewName="teammemberBackendVersionPreview" config:flags="1">
	<sections>
		<sections name="Sidebar" config:flags="1">
			<fields>
				<field fieldName="Comment" config:flags="1">
					<validator maxLength="-1" minLength="-1" />
				</field>
			</fields>
		</sections>
		<sections name="MainSection" config:flags="1">
			<fields>
				<field EditorStripFormattingOptions="MSWord, Css, Font, Span, ConvertWordLists" fieldName="ShortInfo" config:flags="1">
					<validator minLength="-1" />
				</field>
			</fields>
		</sections>
		<sections name="RelatedMedia" config:flags="1">
			<fields>
				<field fieldName="Image" config:flags="1">
					<validator minLength="-1" />
				</field>
			</fields>
		</sections>
		<sections name="MoreOptions" config:flags="1">
			<fields>
				<field fieldName="UrlName" config:flags="1">
					<validator maxLength="-1" minLength="-1" />
				</field>
			</fields>
		</sections>
	</sections>
</view>