<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6602.0">
	<notifications newPostNotificationTemplateId="c899494d-25ec-6aea-8892-ff0000964a85" newThreadNotificationTemplateId="c999494d-25ec-6aea-8892-ff0000964a85" />
</forumsConfig>